<script type = "text/javascript" src = "/assets/themes/Snail/js/function_about.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/themes/Snail/css/about_code.css" />
<div class="large-page-title">
	<h1>{{ page.title }}</h1>
</div>
<div></div>
<div id = "code">
    <span class="keyword">def</span> <span class="value">main</span>():</span><br />
    <span class="placeholder"/>I = boy(<span class="string">'Wang Hongbo'</span>)<br />
    <span class="placeholder"/><span class="comments"># On a night of Nov 27th, 1990, I was born.</span><br />
    <span class="placeholder"/>I.born = <span class="u">"19901127<span class="comments">|</span>Henan<span class="comments">|</span>China"</span><br />
    <span class="placeholder"/><span class="comments"># Sep 1st, 2009, I was admitted to Huazhong University of Science and Technology.</span><br />
    <span class="placeholder"/>I.undergraduteUniversity = <span class="u">HUST</span><br />
    <span class="placeholder"/><span class="comments"># After 4 years, I got the postgradute recommendation to Institue of Computing Technology of</span><br />
    <span class="placeholder"/><span class="comments"># Chinese Academy of Sciences. </span><br />
    <span class="placeholder"/>I.graduateUniversity = <span class="u">ICT.CAS</span><br />
    <span class="placeholder"/><span class="comments"># About Me</span><br />
    <span class="placeholder"/>I.email = <span class="u">wanghongbo@ict.ac.cn</span><br />
    <span class="placeholder"/>I.github = <span class="u">http://github.com/kingmacrobo</span><br />
    <span class="placeholder"/>I.linkedin = <span class="u">http://cn.linkedin.com/pub/hongbo-wang</span><br />
    <span class="placeholder"/>I.csdn = <span class="u">http://blog.csdn.net/u013101828</span><br />
    <span class="placeholder"/>I.weibo = <span class="u">http://weibo.com/mbkg</span><br />
    <span class="placeholder"/>I.interests = <span class="b">Fitness<span class="comments">｜</span>Basketball<span class="comments">|</span>Swimming<span class="comments">|</span>Reading<span class="comments">|</span>Programming<span class="comments">|</span>Algorithms</span><br />
    <span class="placeholder"/>I.skills = <span class="b">C++<span class="comments">|</span>C<span class="comments">|</span>Python<span class="comments">|</span>Objective-C<span class="comments">|</span>MySQL<span class="comments">|</span>IOS<span class="comments">|</span>Linux Porting<span class="comments">|</span>Parallel Computing</span><br />
    <span class="placeholder"/><span class="number"># Finally, I found this place to record my life and what I learn in every single day.</span><br />
    <span class="placeholder"/><span class="number"># Live, love and Laugh!</span><br />
    <span class="placeholder"/><span class="keyword">while</span> <span class="value">True</span>:<br />
    <span class="placeholder"/><span class="placeholder"/>I.Effort += <span class="number"/>1</span><br />
    <br />
    <span class="keyword">if</span> __name__ == <span class="string">'__main__'</span>:<br />
    <span class="placeholder"/>main()
</div>
<script>
    $("#code").typewriter();
</script>