<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% if page.group == 'home' %}
	<title>{{ site.title }}</title>
    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
	{% else %}
	<title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">
	
	<link rel="stylesheet" href="{{ ASSET_PATH }}/css/jquery.fancybox.css">
	<link rel="stylesheet" href="{{ ASSET_PATH }}/css/main.css">
	<link rel="stylesheet" href="{{ ASSET_PATH }}/css/pages/journal.css">
	<link rel="stylesheet" href="{{ ASSET_PATH }}/css/team.css">
	<link rel="stylesheet" href="{{ ASSET_PATH }}/css/static.css">
	<link rel="stylesheet" href="{{ ASSET_PATH }}/css/errors.css">
	<link rel="stylesheet" href="{{ ASSET_PATH }}/google-code-prettify/prettify.css">
	
	<link rel="shortcut icon" href="{{ ASSET_PATH }}/img/favicon.ico">
	
	<script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.min.js"></script>
	{% if site.auto_loadmore == true %}
	<script type="text/javascript" src="{{ ASSET_PATH }}/js/auto_loadmore.js"></script>
	{% else %}
	<script type="text/javascript" src="{{ ASSET_PATH }}/js/loadmore.js"></script>
	{% endif %}
	<script type="text/javascript" src="{{ ASSET_PATH }}/google-code-prettify/prettify.js"></script>
	
	<script type="text/javascript">
	  $(function(){
		$("pre code").addClass("prettyprint linenums");
		prettyPrint();
	  });
	</script>
	
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
</head>
<body>
	<script>

/*
Count up from any date script-
By JavaScript Kit (www.javascriptkit.com)
Over 200+ free scripts here!
*/

var montharray=new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec")

function countup(yr,m,d){
var today=new Date()
var todayy=today.getYear()
if (todayy < 1000)
todayy+=1900
var todaym=today.getMonth()
var todayd=today.getDate()
var todaystring=montharray[todaym]+" "+todayd+", "+todayy
var paststring=montharray[m-1]+" "+d+", "+yr
var difference=1 + (Math.round((Date.parse(todaystring)-Date.parse(paststring))/(24*60*60*1000))*1)
difference = "<div style=\"text-align:center;font-size:25px\">" + "IT HAS BEEN " + difference + " DAYS!" + "</div>"
document.write(difference);
}
//enter the count up date using the format year/month/day
countup(2015,10,18)
</script>
	<noscript>
		&amp;lt;div id="no-js"&amp;gt;Please enable JavaScript in your browser to experience {{ HOME_PATH }} fully&amp;lt;/div&amp;gt;
	</noscript>
    <div id="page-container">
		<div>
            <div style="margin:2px 0px 2px 805px;width:340px; height:25px;">
                {% include themes/Snail/counts.html %}
            </div>
			{% include themes/Snail/nav.html %}
			<div id="page-content">
				{{ content }}
			</div>
			<div class="clearboth pagebottom"></div>
		</div>
	</div>
    <a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=&amp;style=5&amp;fs=4&amp;bgcolor=Orange"></script>

	{% include themes/Snail/footer.html %}
	{% include JB/analytics %}
</body>
</html>
